.App {
  text-align: center;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  position: relative;
  left: 30%;
  margin-bottom: 10%;
  background-color: #996649;
  color: white;
  border-radius: 2%;

}

.card h3 {
  font-family: 'Julius Sans One', sans-serif;
}

.card img {
  width: 100%;
  border-radius: 0%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 5px 16px 15px;
}

.navbar{
  display: flex;
  flex-direction: row;
  border-bottom: solid;
  background-color: #4867a3;
  color: white;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
}

a, a:visited {
  text-decoration: none;
  color: #c9ced8;
  text-shadow: #ffffff 1px 0 1px;
  font-family: 'Julius Sans One', sans-serif;
}

p {
  font-family: 'Exo 2', sans-serif;
}

#aboutArticle a, #aboutArticle a:visited {
  color: #0e2f70;
  font-family: 'Exo 2', sans-serif;
}

.navbar h3 {
  margin-left: 2%;
  font-family: 'Julius Sans One', sans-serif;
  font-size: x-large;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 25%;
  position: relative;
  left: 50%;
  list-style-type: none;
  font-family: 'Julius Sans One', sans-serif;
  align-items: center;
  font-size: larger;
}

#workArticle {
  margin: 2%;
}

#aboutArticle {
  margin: 2%;
  margin-top: 7%;
  text-align: justify;
}

#aboutArticle img {
  border-radius: 50%;
  float: left;
  margin-right: 2%;
}

#aboutHead, #workHead{
  text-align: right;
  font-family: 'Julius Sans One', sans-serif;
  font-weight: bolder;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
